.Card {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-right: 20px;
	background-color: white;
	box-shadow: 0px 5px 20px #1425401A;
	border-radius: 8px;
}

.Card:first-child {
	margin-left: 0px;
}

.Card:last-child {
	margin-right: 0px;
}

.Data {
	white-space: nowrap;
}

.Data img {
	margin-left: 10px;
}

.Card .Data span {
	font-size: 14px;
	color: #52586a;
	font-weight: bolder;
}

.Card .Data p {
	font-size: 24px;
	color: #30313a;
	font-weight: bolder;
	margin: 5px 0 0 0;
}

@media only screen and (max-width: 1337px) {
	.Card {
		margin: 10px 20px 0 0;
	}
}

@media only screen and (max-width: 997px) {
	.Card {
		flex: 1 1 35%;
    }
    
    .Card:nth-child(2) {
		margin-right: 0;
	}
}

@media only screen and (max-width: 508px) {
	.Card {
		margin: 0 0 20px 0;
    }
}
