.Card {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-right: 20px;
	background-color: white;
	box-shadow: 0px 5px 20px #1425401A;
    border-radius: 8px;
    width: 100%;
}

.Card:first-child {
    margin-left: 0px;
}

.Card:last-child {
    margin-right: 0px;
}

.Data {
    display: inline-block;
    white-space: nowrap;
}

.Card img {
	padding-left: 10px; 
}

.Card .Data span {
    font-size: 14px;
    color: #52586A;
    font-weight: bolder;
}

.Card .Data p {
    font-size: 24px;
    color: #30313A;
    font-weight: bolder;
    margin: 5px 0 0 0;
}
