.Country {
    display: flex;
    width: 100%;
    padding: 10px;
}

.Country div:first-child {
    width: 80%;
}

.Country div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}

.Data img {
    height: 20px;
    width: 30px;
    border-radius: 5px;
}

.Data p {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
}

.Data span {
    color: #52586A;
    font-size: 14px;
    font-weight: bold;
}