.Button {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: #30313A;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}

.Regular:focus {
    background-color: #52586A;
    color: white;
    outline: none;
}

.Danger {
    background-color: #FFEAEB;
    color: #FF0019;
}

.Danger:focus {
    background-color: #FF0019;
    color: white;
}