.App {
    width: 100%;
}

.NavContainer {
    max-width: 1400px;
    margin: auto;
    background-color: white;
}

.BodyContainer {
    max-width: 1400px;
    margin: auto;
    /* display: flex; */
}