li {
    list-style: none;
}

li:last-child a {
    margin-right: 0;
}

.NavigationItems {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 15px 30px;
}

.Logo {
    color: red;
    font-weight: bold;
    font-size: 22px;
    display: inline-block;
    margin-left: 10px;
}

.NavBar > a {
    left: 30px;
    top: 10px;
    position: absolute;
}

@media only screen and (max-width: 800px) {
    .NavBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .NavBar > a {
        position: unset;
        padding: 30px 30px 15px 30px;
    }
}

@media only screen and (max-width: 600px) {
    .NavBar{
        flex-direction: column;
    }
}